# git
.git
.gitignore

# env
.env
.env.*

# node
node_modules
dist
build
coverage

# docker
docker-compose*.yml

# volumes
db_data
qdrant_data
node_deps

# ide / os
.vscode
.idea
*.log
.DS_Store
.elasticbeanstalk/