# env
.env
.env.*
!.env.example

# node
node_modules/
dist/
build/

# docker
docker-compose.override.yml

# volumes
db_data/
qdrant_data/
node_deps/

# logs
*.log

# ide / os
.vscode/
.idea/
.DS_Store

.elasticbeanstalk/